//    Font Family

$title-font: "Playfair Display", serif;
$text-font: "Roboto", sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #059669;
$primary-color2: #37c892;
$title-color: #222222;
$text-color: #828bb2;

$white: #fff;
$offwhite: #f9f9fb;
$black: #222;

/*$primary-color: #059669;
$primary-color2: #059669;
$title-color: #222222;
$text-color: #828bb2;

$white: #fff;
$offwhite: #f9f9fb;
$black: #222;*/
